body {
  background-color: rgb(226, 215, 201);
}

ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 2rem;
  background-color: rgb(218, 170, 148);
}

#store-container {
  border: solid;
  align-items: center;
  margin: 0 auto;
}

th, tr, td{
  border: thin solid ;
  width: 3rem;
  text-align: center;
  margin: 0 auto;
}

header {
  background-color: rgb(211, 191, 191);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  font-size: 2rem;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.bigfella {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

.pictures {
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: rgb(170, 24, 24);
}

.newStore {
  border: thin solid ;
  width: 3rem;
  text-align: center;
  margin: 0 auto;
}

.linkButton {
  margin: 0 auto;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

h1 {
  margin: 0 auto;
  text-align: center;
}